.error {
    color: red;
}

.mr-2 { margin-right: 0.75rem; }
.mr-3 { margin-right: 1rem; }
.mr-4 { margin-right: 1.5rem; }
.mr-5 { margin-right: 2rem; }

.mb-2 { margin-bottom: 0.75rem; }
.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }
.mb-5 { margin-bottom: 2rem; }

/* layout styles */

.d-flex { display: flex; }
.dir-col { flex-direction: column;}
.dir-row { flex-direction: row; }
.a-center { align-items: center; }
.j-center { justify-content: center;}

.custom { border: 1px solid #dcdcdc; margin: 15px auto; text-align: left; }
.custom tr td{ padding: 5px 10px; text-align: left; border-bottom: 1px solid #dcdcdc; border-right: 1px solid #dcdcdc; }
.custom tr td:last-child{ border-right: 0; }
.custom tr:last-child td{ border-bottom: 0; }
.custom thead tr:last-child th{ border-bottom: 2px solid #dcdcdc; padding: 5px 10px; }